<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <style>
           #pdf{
               color: #0C0C0C;
               text-decoration: none;
               cursor: pointer;
           }
           #pdf:hover{
               color: #aaaaaa;
               text-decoration: none;
               cursor: pointer;
           }
       </style>
   </head>
   <body style="height: 100%; margin: 0">
   <a href="/刘羽-学生成绩管理系统.pdf" id="pdf"><h1>学生成绩管理系统-刘羽</h1></a>
        <h3>SpringBoot+MyBatis+MySQL+Redis+LayUI+ECharts+JQuery</h3>
   </body>
</html>
