<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 60%"></div>
       <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
       <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
       <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            option = {
                legend: {},
                tooltip: {},
                dataset: {
                    dimensions: ['product', '学生人数','教师人数'],
                    source: [
                        {product: '软件181', '学生人数': 55,'教师人数': 15},
                        {product: '软件182', '学生人数': 48,'教师人数': 11},
                        {product: '软件183', '学生人数': 49,'教师人数': 13},
                        {product: '软件184', '学生人数': 46,'教师人数': 11},
                        {product: '软件185', '学生人数': 48,'教师人数': 12},
                        {product: '软件186', '学生人数': 47,'教师人数': 11},
                        {product: '软件187', '学生人数': 44,'教师人数': 13},
                        {product: '软件188', '学生人数': 39,'教师人数': 12},
                        {product: '软件189', '学生人数': 51,'教师人数': 11}
                    ]
                },
                xAxis: {type: 'category'},
                yAxis: {},
                series: [
                    {type: 'bar'},
                    {type: 'bar'}
                ]
            };

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }

       </script>
        <script>
            $(function () {

                $.get("/select/teacherStudentNumber",function (data) {
                    if(data!="error"){
                        var newData =  JSON.parse(data);
                        var arr=[];
                        $.each(newData, function(i, p){
                            arr[i]={product:p.class_name,'学生人数':p.student_num,'教师人数': p.teacher_num};
                        });
                        myChart.setOption({
                            legend: {},
                            tooltip: {},
                            dataset: {
                                dimensions: ['product', '学生人数','教师人数'],
                                source: arr
                            }
                        });
                    }
                });
            });
        </script>
   </body>
</html>